---
import { BarChart } from "../../components/BarChart";
import { Bracket } from "../../components/Bracket";
import Layout from "../../layouts/Layout.astro";
import { getWinsByPlayer } from "../../dataUtils/getWinsByPlayer";
import { getVotesByPlayer } from "../../dataUtils/getVotesByPlayer";
import videoGameOSTPicks from "./videoGameOSTPicks.json";
import videoGameOSTMatchups from "./videoGameOSTMatchups.json";
import videoGameOSTBracket from "./videoGameOSTBracket.json";
import { buildBracket } from "../../dataUtils/buildBracket";

const vgOSTBracket = buildBracket(
  videoGameOSTBracket,
  videoGameOSTPicks,
  videoGameOSTMatchups
);

const vgOstWinsByPlayer = getWinsByPlayer(
  videoGameOSTPicks,
  videoGameOSTMatchups
);

const vgOstVotesByPlayer = getVotesByPlayer(
  videoGameOSTPicks,
  videoGameOSTMatchups
);
---

<Layout title="Matchups">
  <main class="container">
    <header>
      <h1>Data visualization fun for Matchups</h1>
      <h3>Video Game OST</h3>
    </header>
    <Bracket client:only="react" data={vgOSTBracket} />
    <div class="chart-grid">
      <article>
        <h6>Total Wins</h6>
        <BarChart client:only="react" data={vgOstWinsByPlayer} />
      </article>
      <article>
        <h6>Total Votes</h6>
        <BarChart client:only="react" data={vgOstVotesByPlayer} />
      </article>
    </div>
  </main>
</Layout>

<style>
  h6 {
    margin-bottom: 0.5rem;
  }

  article {
    margin-top: 0.5rem;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
  }

  .chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
</style>
