---
import Layout from "../layouts/Layout.astro";
import zkbarbre_by_Mike_Mignola_w_1024 from "../images/zkbarbre_by_Mike_Mignola_w_1024.png";
---

<Layout title="About Zach">
  <main class="container">
    <h2>About Zach</h2>
    <p>This is me.</p>
    <img
      src={zkbarbre_by_Mike_Mignola_w_1024}
      alt="Drawing of Zach in the style of Mike Mignola"
    />
  </main>
</Layout>

<style></style>
