---
import Layout from "../layouts/Layout.astro";
---

<Layout title="barbre.xyx">
  <main class="container">
    <h1>barbre.xyx</h1>
    <p>A playground for Zach</p>
  </main>
</Layout>

<style></style>
