<nav class="container">
  <ul>
    <li><a href="/">xyz</a></li>
    <li><a href="/about">about</a></li>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">playground</summary>
        <ul role="listbox">
          <li><a href="/espn-header">ESPN Style Header</a></li>
        </ul>
      </details>
    </li>
    <li><a href="/matchups">matchups</a></li>
  </ul>
</nav>
